@import url(https://fonts.googleapis.com/css?family=Lato:300,400,700);

*, *:after, *:before { 
	-webkit-box-sizing: border-box; 
	-moz-box-sizing: border-box; 
	box-sizing: border-box; 
}
body, html { 
	font-size: 90%; 
	padding: 0; 
	margin: 0;
}
.clearfix:before, .clearfix:after { 
	content: " "; 
	display: table; 
}
.clearfix:after { clear: both; }

body {
	font-weight:500;
	font-family: 'Lato', Calibri, Arial, sans-serif;
	background: #E96D65;
	color: rgb(255, 255, 255);
	font-weight: 400;
	overflow-x: hidden;
	overscroll-behavior-y: contain;
	touch-action: manipulation;
}
a {
	color: #888;
	text-decoration: none;
}
a:hover,
a:active {
	color: #333;
}

.main {
	max-width: 90vw;
}

.mainpage{
	display: flex;
	justify-content: center;
}
.img{
	margin-left: auto;
    margin-right: auto;
	display: flex;
	justify-content: center;
}
@media screen and (max-width: 768px) {
.img{
	display: none;
}
}